---
title: projects
permalink: "/projects/index.html"
layout: projects
---
<a href="{{ "/resume" | prepend:site.baseurl }}"><i class="fa fa-chevron-left"></i> resume</a> |
<a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-home"></i> home</a>
<br/>
<div class="projects">
{% assign projects = site.data.projects | sort: 'start' %}
{% for project in projects reversed %}
  {% assign mod = forloop.index | modulo: 2 %}

  {% if mod == 1 %}
    <div class="projects row">
  {% endif %}
    <div class="col-md-6 post-nav">
      {% if project.project_url %}
      <h2><a class="project-link" href="{{ project.project_url }}">{{ project.name }}</a></h2>
      {% else %}
      <h2 class="project-title">{{ project.name }}</h2>
      {% endif %}
      <p class="text-muted">{{ project.description }}</p>
      <p class="text-muted">{{ project.start | date: "%B %Y" }} - {{ project.end | date: "%B %Y" }}</p>
      <p class="text-muted">Build for: <a href="{{ project.client_url }}">{{ project.client }}</a></p>
      <p class="text-muted">Employed at: <a href="{{ project.employer_url }}">{{ project.employer }}</a></p>
      <p class="text-muted">Technologies: {{ project.technologies | join: ', ' }}</p>
      {% if project.tools %}
      <p class="text-muted">Tools: {{ project.tools | join: ', ' }}</p>
      {% endif %}
    </div>
  {% if mod == 0 %}
    </div>
  {% endif %}
{% endfor %}
</div>
