<div id="title">
  <h1>
    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
    {% endunless %}

    <a id="sitename" href="{{site.baseurl}}/">{{site.title}}</a>
  </h1>

  {% assign randomIndex = site.time | date: "%s%N" | modulo: site.data.quotes.size %}
  {% assign random = site.data.quotes[randomIndex] %}
  <p><i>&laquo;{{ random.quote }}&raquo;</i> {{ random.autor }}</p>
  <hr/>

  {% include nav-links.html %}

</div>
